.user-list-header {
    margin-top: 10rem;
}

.user-item--list{
    padding: 2rem;
}

.user-item--list h2 {
    font-size: 1.5rem;
}

.user-item--list h3 {
    font-size: 1rem;
}

.grid--user-list {
    padding: 5rem;
    padding-top: 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.user-item--list:hover{
    display: block;
    box-shadow: 0 0 12px rgba(70, 70, 240, 0.7) inset;
    border: 1px solid rgb(0, 0, 0);
    color: rgba(255,255,255,1);
}

