.modal {
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    width: 80%;
    max-width: 500px;
}

h2 {
    margin-top: 0;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 10px;
}

input {
    padding: 10px;
    border-radius: 5px;
    border: none;
    margin-bottom: 20px;
}

button {
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: #0077ff;
    color: white;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background-color: #0066cc;
}

@media screen and (max-width: 768px) {
    .modal-content {
        width: 90%;
        max-width: 400px;
    }
}